## {{project_name}}

## Environment variable
```
export PROXMOX_VE_API_ENDPOINT=""
export PROXMOX_VE_API_USER=""
export PROXMOX_VE_API_USER_TOKEN_ID=""
export PROXMOX_VE_API_USER_TOKEN_SECRET=""
export TF_VAR_proxmox_api_endpoint=""
export TF_VAR_ct_default_user_pwd=""
export TF_VAR_local_machine_ssh_key=""
```

### Install
```
cd /{{project_name}}
sh install_{{project_name}}.sh
```

### Destroy
```
cd /{{project_name}}
sh uninstall_{{project_name}}.sh
```