{
	#debug
	email {$ACME_EMAIL}
	#admin 0.0.0.0:2019
}

(main) {
	log {
		level INFO
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 5
			roll_keep_for 48h
		}
		format json
	}
}

{$DOMAIN_NAME} {
    root * /etc/caddy/www
    file_server
}

portainer.{$DOMAIN_NAME} {
	#import main
	# SSL Cert via Duckdns build
	tls {
		dns duckdns {
			api_token {env.DUCKDNS_API_TOKEN}
			# override_domain {$DOMAIN_NAME}
		}
		propagation_timeout -1 # turn off caddy DNS check
	}
	reverse_proxy {$CADDY_IP}:9102
}