proxmox_node_name                 = "node1-home-network"
proxmox_node_iso_datastore_id     = "local"
proxmox_node_default_datastore_id = "local-lvm"

# worker vm variables
vm_name       = "dockerinstance-home-vm"
vm_id         = 130
vm_ip_addr    = "192.168.0.30"
vm_gateway_ip = "192.168.0.1"
vm_cores      = 2
vm_memory     = 6144
vm_disk_size  = 30
vm_tags       = ["iac-tf", "os-ubuntu", "service-type-containermanager", "service-name-dockerinstance"]