proxmox_server_endpoint            = "https://192.168.0.50:8006" # Your Proxmox IP Address
cloud_image_iso_url                = "https://cloud-images.ubuntu.com/jammy/20240227/jammy-server-cloudimg-amd64.img"
cloud_image_iso_checksum           = "b566d0eb52b8fd51195cc25ba6bb138f9a9924a29ed4b48a41d7a371f77f5030"
proxmox_node_name                  = "node1-home-network"
proxmox_node_iso_datastore_id      = "local"
proxmox_node_default_datastore_id  = "local-lvm"
vm_default_user_pwd                = "ubuntu"

# project variables
local_machine_ssh_key         = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPWmuxBWj5GebJtC5sp4kfUGdodLswXVxj9Vrzauf63B kannanmohanklm@gmail.com"

# worker vm variables
worker_vm_name                = "worker-ubuntu-vm"
worker_vm_id_prefix           = 600
worker_vm_ip_prefix           = "192.168.0.6"
worker_vm_gateway_ip          = "192.168.0.1"
worker_vm_ubuntu_user_pwd     = "ubuntu"
worker_vm_cores               = 1
worker_vm_memory              = 2048