proxmox_node_name                  = "node1-home-network"
proxmox_node_template_datastore_id = "local"
proxmox_node_default_datastore_id  = "local-lvm"

# ct variables
ct_name       = "caddy-container"
ct_ip_addr    = ["192.168.0.22","192.168.0.23"]
ct_gateway_ip = "192.168.0.1"
ct_cpu_cores  = 1
ct_memory     = 1024
ct_disk_size  = 10
ct_tags       = ["iac-tf", "os-ubuntu", "service-type-reverseproxy", "service-name-caddy"]